.myTodoItems{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    height: 378px; /* Set the maximum height of the div */
    overflow-y: auto;
    margin-bottom: 20px;
    .todo-item{
        border-top: 1px solid grey;
        padding: 10px
    }
    .myTodo-title-div{
        display: flex;
        padding: 10px;
    }

    .title-left{
        align-items: center;
        font-weight: 600;
        font-size: 15px;
    }
    .title-right{
        display: flex;
        align-items: center;
        margin-left: auto;
        font-weight: 500;

    }
    .title-div{
        display: flex;
        align-items: center;
        font-weight: 600;
    }

    .icons{
        margin-left: auto;
        align-items: center;
        display: flex;        
    }
    .icon{
        margin-right: 10px;
    }
    .red{
        padding: 5px;
        border-radius: 5px;
        color: rgb(255, 82, 82);
        background-color: rgb(255, 237, 237);
        cursor: pointer;
    }
    .blue{
        padding: 5px;
        border-radius: 5px;
        color: rgb(59, 138, 227);
        background-color: rgb(235, 254, 255);
        cursor: pointer;
    }
    .date-and-time{
        color: rgb(169, 169, 169);
        margin-left: 40px;
    }
    .orange{
        color: #F3723F;
    }
    .green{
        color: #3AC977;
    }
    .crossed {
        text-decoration: line-through;
        color: #ccc;
      }
    
    .checkbox{
        margin-right: 10px;
    }
    
}

.totalRevenue{
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    font-family: Poppins, sans-serif;
    .title{
        font-weight: 600;
    }
    .revenue-number{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        padding: 20px;
    }
    .time-period{
        text-align: center;
        font-size: 12px;
    }
    .active{
        border-bottom: 3px solid #0D99FF;
    }
    .chart{
        height: 300px;
    }
}

.active-projects{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-weight: 500;
    height: 410px;
    overflow: auto;
    margin-bottom: 20px;
    .title-div{
        display: flex;
        align-items: center;
        padding: 10px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .active-project-title{
        font-weight: 600;
        font-size: 15px;
    }
    .export-report{
        margin-left: auto;
        color: #0D99FF;
    }
    td,
    th {
    padding-bottom: 20px;
    padding-right: 5px;
    }
    th:nth-child(1),
    td:nth-child(1) {
    width: 23%;
    }

    th:nth-child(2),
    td:nth-child(2) {
    width: 30%;
    }

    th:nth-child(3),
    td:nth-child(3) {
    width: 18%;
    }

    th:nth-child(4),
    td:nth-child(4) {
    width: 15%;
    }

    th:nth-child(5),
    td:nth-child(5) {
    width: 20%;
    }

    th:nth-child(6),
    td:nth-child(6) {
    width: 5%;
    }
    .inprogress{
        padding: 5px;
        background-color: rgb(211, 248, 255);
        color: #0D99FF;
        border-radius: 5px;
        width: fit-content;
    }
    .pending{
        padding: 5px;
        background-color: #ffcdba;
        color: rgb(255, 82, 82);
        border-radius: 5px;
        width: fit-content;
    }
    .completed{
        padding: 5px;
        background-color: #e0ffed;
        border-radius: 5px;
        color: #3AC977;
        width: fit-content;
    }
    .column-gap {
      padding-right: 10px;
    }

   
    .avatar {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: -10px;
        border: 1px solid darkblue;
    }

    .normal-avatar{
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid darkblue;
        margin-right: 10px;
    }
    .dashboard-table{
        padding: 20px;
    }

    .choose-page{
        display: flex;
        align-items: center;
        margin-left: auto;
        background-color: black;
        color: #F3723F;
        border-radius: 10px;
    }

    .choose-page button{
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;

        
    }
    .active{
        background-color: #F3723F;
        color: white;
    }
}

.users-by-location {
    display: flex;
    height: 410px;
    background-color: white;
    border: 1px solid grey;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    .location-item{
        width: 100%;
        border-bottom: 1px solid grey;
        padding: 10px;
        align-items: center;
       
    }
  .img-wrapper{
    width: 60%;
    border-right: 1px solid grey;
    padding: 20px;
  }
  .title{
    margin-bottom: 50px;
    font-weight: 600;
  }
  .percentage{
    width: 100%;
  }
  .country-name{
    width: 100%;
  }
  .country-img{
    width: 40px;
    margin-right: 20px;
}
  .user-by-location-content{
    width: 40%;
    overflow-y: auto;

  }
  .content{
    width: 100%;
    
  }
}