@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;800;900;1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
    background-color: #fdf7f4;
  }
  

  
  
  .hero-bg {
    background-image: linear-gradient(93.08deg, #FFFFFF 5.3%, #FFF2ED 36.63%, #FFFFFF 72.36%, rgba(225, 235, 242, 0) 98.15%);
  }

  .join-bg {
    background-image: linear-gradient(to right, #F3723F 0%, #EDA58E 60.42%, #87CBFA 100%);
  }

  .auth-bg {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0324) 3.24%, #FAE9E2 35.89%, #FEF6F3 73.12%, rgba(229, 245, 255, 0) 100%);
    ;
  }

  /*hide table scroll bar*/
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

.orange{
    color: #F3723F;
}


/*for last dark text on*/ 
.text-gray {
    color: #333;
}

/*set nav button to right*/
@media only screen and (min-width: 768px) and (max-width:1100px) {
    .started {
        margin-right: -4rem;
    }
}


.orbit .center-image img:not(:first-child):hover {
    opacity: 0;
}



@keyframes orbit {
    100% {
        rotate: 1turn;
   }
}
@keyframes hold-position {
    100% {
        rotate: -1turn;
   }
}
@keyframes throb {
    100% {
        scale: 1.05;
   }
}

.animate-orbit {
    animation: orbit 120s linear infinite;
    -webkit-animation: orbit 120s linear infinite;
}


.orbit ul:hover {
    animation-play-state: paused;
    --orbit-play-state: paused;
}

.orbit li {
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 1;
    display: grid;
    place-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.orbit li:hover {
    --throb-play-state: paused;
}
.orbit li:nth-child(1) {
    --throb-delay: 0ms;
}
.orbit li:nth-child(2) {
    --throb-delay: 500ms;
}
.orbit li:nth-child(3) {
    --throb-delay: 1000ms;
}
.orbit li:nth-child(4) {
    --throb-delay: 1500ms;
}
.orbit li:nth-child(5) {
    --throb-delay: 2000ms;
}
.orbit li:nth-child(6) {
    --throb-delay: 2500ms;
}
.orbit li:nth-child(7) {
    --throb-delay: 3000ms;
}
.orbit li:nth-child(8) {
    --throb-delay: 3500ms;
}
.orbit li > * {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: inherit;
    position: absolute;
    animation: orbit 120s linear reverse infinite, throb 1s var(--throb-delay) ease-in-out infinite alternate;
    animation-play-state: var(--orbit-play-state, running), var(--throb-play-state, running);
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.orbit li > p {
    background: var(--text-bg);
    transition: opacity 500ms;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}
.orbit li:hover > p {
    opacity: 1;
}

.orbit li:nth-child(1) {
    --icon-bg: hsl(265, 100%, 60%);
    --text-bg: hsl(265, 93%, 84%);
    transform: translate(15rem, 0rem);
    -webkit-transform: translate(15rem, 0rem);
    -moz-transform: translate(15rem, 0rem);
    -ms-transform: translate(15rem, 0rem);
    -o-transform: translate(15rem, 0rem);
}
.orbit li:nth-child(2) {
    --icon-bg: 	hsl(163, 88%, 39%);
    --text-bg: hsl(163, 96%, 90%);
    transform: translate(10rem, 10rem);
    -webkit-transform: translate(10rem, 10rem);
    -moz-transform: translate(10rem, 10rem);
    -ms-transform: translate(10rem, 10rem);
    -o-transform: translate(10rem, 10rem);
}
.orbit li:nth-child(3) {
    --icon-bg: 	hsl(244, 82%, 57%);
    --text-bg: 	hsl(244, 37%, 76%);
    transform: translate(0, 15rem);
    -webkit-transform: translate(0, 15rem);
    -moz-transform: translate(0, 15rem);
    -ms-transform: translate(0, 15rem);
    -o-transform: translate(0, 15rem);
}
.orbit li:nth-child(4) {
    --icon-bg: 	hsl(17, 88%, 60%);
    --text-bg: hsl(17, 61%, 79%);
    transform: translate(-10rem, 10rem);
    -webkit-transform: translate(-10rem, 10rem);
    -moz-transform: translate(-10rem, 10rem);
    -ms-transform: translate(-10rem, 10rem);
    -o-transform: translate(-10rem, 10rem);
}
.orbit li:nth-child(5) {
    --icon-bg: hsl(220, 84%, 32%);
    --text-bg:hsl(220, 26%, 60%);
    transform: translate(-15rem, 0rem);
    -webkit-transform: translate(-15rem, 0rem);
    -moz-transform: translate(-15rem, 0rem);
    -ms-transform: translate(-15rem, 0rem);
    -o-transform: translate(-15rem, 0rem);
}
.orbit li:nth-child(6) {
    --icon-bg: hsl(204, 87%, 39%);
    --text-bg: 	hsl(205, 44%, 68%);
    transform: translate(-10rem, -10rem);
    -webkit-transform: translate(-10rem, -10rem);
    -moz-transform: translate(-10rem, -10rem);
    -ms-transform: translate(-10rem, -10rem);
    -o-transform: translate(-10rem, -10rem);
}
.orbit li:nth-child(7) {
    --icon-bg: 	hsl(17, 88%, 60%);
    --text-bg: hsl(17, 61%, 79%);
    transform: translate(0, -15rem);
    -webkit-transform: translate(0, -15rem);
    -moz-transform: translate(0, -15rem);
    -ms-transform: translate(0, -15rem);
    -o-transform: translate(0, -15rem);
}
.orbit li:nth-child(8) {
    --icon-bg: hsl(45, 94%, 42%);
    --text-bg: 	hsl(44, 88%, 78%);
    transform: translate(7.5rem, -7.5rem);
    -webkit-transform: translate(10rem, -10rem);
    -moz-transform: translate(7.5rem, -7.5rem);
    -ms-transform: translate(7.5rem, -7.5rem);
    -o-transform: translate(7.5rem, -7.5rem);
}




@media (max-width: 1536px) {
   
.orbit li:nth-child(1) {
    --icon-bg: hsl(265, 100%, 60%);
    --text-bg: hsl(265, 93%, 84%);
    transform: translate(11.25rem, 0rem);
    -webkit-transform: translate(11.25rem, 0rem);
    -moz-transform: translate(11.25rem, 0rem);
    -ms-transform: translate(11.25rem, 0rem);
    -o-transform: translate(11.25rem, 0rem);
}
.orbit li:nth-child(2) {
    --icon-bg: 	hsl(163, 88%, 39%);
    --text-bg: hsl(163, 96%, 90%);
    transform: translate(7.5rem, 7.5rem);
    -webkit-transform: translate(7.5rem, 7.5rem);
    -moz-transform: translate(7.5rem, 7.5rem);
    -ms-transform: translate(7.5rem, 7.5rem);
    -o-transform: translate(7.5rem, 7.5rem);
}
.orbit li:nth-child(3) {
    --icon-bg: 	hsl(244, 82%, 57%);
    --text-bg: 	hsl(244, 37%, 76%);
    transform: translate(0, 11.25rem);
}
.orbit li:nth-child(4) {
    --icon-bg: 	hsl(17, 88%, 60%);
    --text-bg: hsl(17, 61%, 79%);
    transform: translate(-7.5rem, 7.5rem);
    -webkit-transform: translate(-7.5rem, 7.5rem);
    -moz-transform: translate(-7.5rem, 7.5rem);
    -ms-transform: translate(-7.5rem, 7.5rem);
    -o-transform: translate(-7.5rem, 7.5rem);
}
.orbit li:nth-child(5) {
    --icon-bg: hsl(220, 84%, 32%);
    --text-bg:hsl(220, 26%, 60%);
    transform: translate(-11.25rem, 0rem);
    -webkit-transform: translate(-11.25rem, 0rem);
    -moz-transform: translate(-11.25rem, 0rem);
    -ms-transform: translate(-11.25rem, 0rem);
    -o-transform: translate(-11.25rem, 0rem);
}
.orbit li:nth-child(6) {
    --icon-bg: hsl(204, 87%, 39%);
    --text-bg: 	hsl(205, 44%, 68%);
    transform: translate(-7.5rem, -7.5rem);
}
.orbit li:nth-child(7) {
    --icon-bg: 	hsl(17, 88%, 60%);
    --text-bg: hsl(17, 61%, 79%);
    transform: translate(0, -11.25rem);
}
.orbit li:nth-child(8) {
    --icon-bg: hsl(45, 94%, 42%);
    --text-bg: 	hsl(44, 88%, 78%);
    transform: translate(7.5rem, -7.5rem);
}
  }



  /*doughnut increase z-index to make hover float over innertext*/
#root > div > div.w-full.grid.lg\:grid-cols-5.grid-cols-1.xl\:gap-y-7.lg\:gap-y-\[21px\].xl\:gap-x-4.lg\:gap-x-3.bg-dashboard-bg > main > div > div > div.grid.md\:grid-cols-3.grid-cols-1.place-items-start.xl\:gap-5.lg\:gap-\[15px\].gap-3.w-full > div.md\:col-span-1.col-span-2.flex.flex-col.items-start.justify-start.xl\:gap-9.lg\:gap-7.gap-5.min-w-0.w-full.xl\:py-7.xl\:px-8.lg\:py-\[22px\].lg\:px-6.py-\[14px\].px-4.bg-white.border.border-gray-300.rounded-xl.shadow-xs.ring-1.ring-gray-100.ring-opacity-5 > div > div.relative.flex.justify-center.items-start.w-full.lg\:max-w-\[130px\].max-w-\[150px\].h-auto > canvas,
#root > div > div.w-full.grid.lg\:grid-cols-5.grid-cols-1.xl\:gap-y-7.lg\:gap-y-\[21px\].xl\:gap-x-4.lg\:gap-x-3.bg-dashboard-bg > main > div > div.w-full.xl\:mt-24.lg\:mt-16.lg\:order-2.order-1 > div > div.w-full.flex.flex-col.items-start.justify-center.xl\:gap-3.gap-2.border-\[0\.5px\].border-\[\#bbb\].rounded-\[5px\].xl\:px-5.xl\:pt-3.xl\:pb-7.lg\:px-\[15px\].lg\:pt-\[9px\].lg\:pb-\[21px\].px-\[10px\].pt-\[6px\].pb-\[14px\] > div > div.relative.flex.justify-center.items-start.w-full.xl\:max-w-\[130px\].lg\:max-w-\[110px\].max-w-\[150px\].h-auto > canvas,
#root > div > div.w-full.grid.lg\:grid-cols-5.grid-cols-1.xl\:gap-y-7.lg\:gap-y-\[21px\].xl\:gap-x-4.lg\:gap-x-3.bg-dashboard-bg > main > div > div.grid.lg\:grid-cols-3.grid-cols-1.xl\:gap-8.lg\:gap-5.gap-3.w-full > div.flex.flex-col.items-start.xl\:gap-\[34px\].lg\:gap-\[26px\].gap-3.w-full.lg\:col-span-2.col-span-1.lg\:order-1.order-2.bg-blue-transparent.rounded-\[10px\].xl\:pt-\[26px\].lg\:pt-\[19px\].xl\:pb-8.lg\:pb-6.pb-4 > div.flex.md\:flex-row.md\:items-stretch.flex-col.items-start.xl\:gap-\[14px\].lg\:gap-\[10px\].md\:gap-\[7px\].gap-3 > div.basis-1\/2.flex.flex-col.items-start.justify-start.xl\:gap-5.lg\:gap-\[15px\].gap-\[10px\].w-full.xl\:px-\[25px\].xl\:py-\[29px\].lg\:px-\[18px\].lg\:py-\[22px\].px-3.py-\[22px\].min-w-0.overflow-hidden.rounded-\[10px\].border-\[0\.3px\].border-\[\#bbb\].md\:w-auto > div > div.relative.flex.justify-center.items-center.w-full.xl\:max-w-\[185px\].lg\:max-w-\[145px\].max-w-\[110px\].h-auto > canvas {
    z-index: 20;
}


/*map size*/
.leaflet-container {
    width: 100%;
    height: 100vh;
  }